body{
	background-color: beige
}


.ltrs{
	display: inline-block;
    background-color: cornflowerblue; 
    color: cornflowerblue;
    width:50px;
    height: 50px;
    font-size: 45px;
  
}

.available{
	background-color: orange;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 30px;

}

#beta{
	width: 400px;
}

#rules {
	font-size: 15px;
	background-color: gold;
	display: none;
	height: 75px;
	width: 250px;
}

#spin {
	font-size: 30px;
	background-color: salmon;
	width: fixed 10px;
	display: inline-block;
}

#player1 {
	background-image: url("img/player1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	
}

#ply1{
	float: right;
}
